name: Test

on:
  push:

jobs:
  test:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4
      - name: Select Xcode version
        run: sudo xcode-select -s "/Applications/Xcode_15.0.1.app/Contents/Developer"
      - name: Test Modules
        run: make test_modules
